trigger: none

pool: Default

stages:
# ---------------------------------------------------
# FRONTEND BUILD STAGE
# ---------------------------------------------------
- stage: Build
  displayName: "Build Frontend"
  jobs:
  - job: Build_Frontend
    steps:
      - task: NodeTool@0
        displayName: "Install Node v18"
        inputs:
          versionSource: 'spec'
          versionSpec: '18.x'
      - task: PowerShell@2
        displayName: "Build React Application"
        inputs:
          targetType: 'inline'
          script: |
            npm ci
            npm run build
      - task: PublishBuildArtifacts@1
        displayName: "Publish Frontend Artifact"
        inputs:
          PathtoPublish: 'build'
          ArtifactName: 'frontend_build'
          publishLocation: 'Container'
# ---------------------------------------------------
# FRONTEND DEPLOY STAGE
# ---------------------------------------------------
- stage: Deploy
  displayName: "Deploy Frontend"
  dependsOn: Build
  jobs:
  - job: Deploy_Frontend
    steps:
      - task: DownloadBuildArtifacts@1
        displayName: "Download Frontend Artifact"
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'frontend_build'
          downloadPath: '$(Pipeline.Workspace)/frontend'
      - task: CopyFilesOverSSH@0
        displayName: "Copy React Build to Temp"
        inputs:
          sshEndpoint: "frontend-ssh"
          sourceFolder: "$(Pipeline.Workspace)/frontend/frontend_build/build"
          contents: "**"
          targetFolder: "/tmp/react_build"
          overwrite: true
      # Fix permissions with sudo
      - task: SSH@0
        displayName: "Fix Permissions"
        inputs:
          sshEndpoint: 'frontend-ssh'
          runOptions: 'inline'
          inline: |
            sudo rm -rf /var/www/html/*
            sudo mkdir -p /var/www/html
            sudo mv /tmp/react_build/* /var/www/html/
            sudo chown -R www-data:www-data /var/www/html
          readyTimeout: '20000'
      - task: SSH@0
        displayName: "Restart NGINX"
        inputs:
          sshEndpoint: 'frontend-ssh'
          runOptions: 'inline'
          inline: |
            sudo systemctl restart nginx
          readyTimeout: '20000'

