trigger: none

pool: Default

stages:

# ---------------------------------------------------
# FRONTEND BUILD STAGE
# ---------------------------------------------------
- stage: Build
  displayName: "Build Frontend"
  jobs:
  - job: Build_Frontend
    steps:
      - task: NodeTool@0
        displayName: "Install Node v18"
        inputs:
          versionSource: 'spec'
          versionSpec: '18.x'

      - task: PowerShell@2
        displayName: "Build React Application"
        inputs:
          targetType: 'inline'
          script: |
            npm ci
            npm run build

      - task: PublishBuildArtifacts@1
        displayName: "Publish Frontend Artifact"
        inputs:
          PathtoPublish: 'build'
          ArtifactName: 'frontend_build'
          publishLocation: 'Container'


# ---------------------------------------------------
# FRONTEND DEPLOY STAGE
# ---------------------------------------------------
- stage: Deploy
  displayName: "Deploy Frontend"
  dependsOn: Build
  jobs:
  - job: Deploy_Frontend
    steps:

      - task: DownloadBuildArtifacts@1
        displayName: "Download Frontend Artifact"
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'frontend_build'
          downloadPath: '$(Pipeline.Workspace)/frontend'

      - task: CopyFilesOverSSH@0
        displayName: "Copy React Build to Server"
        inputs:
          sshEndpoint: 'frontend-ssh'
          sourceFolder: '$(Pipeline.Workspace)/frontend'
          contents: '**'
          targetFolder: '/var/www/html'
          overwrite: true
      # Fix permissions with sudo
      - task: SSH@0
        displayName: "Fix Permissions"
        inputs:
          sshEndpoint: "frontend-ssh"
          runOptions: "inline"
          inline: |
            sudo chown -R azureuser:azureuser /var/www/html
            sudo chmod -R 755 /var/www/html

      - task: SSH@0
        displayName: "Restart NGINX"
        inputs:
          sshEndpoint: 'frontend-ssh'
          runOptions: 'inline'
          inline: |
            sudo systemctl restart nginx
          readyTimeout: '20000'

