trigger: none
pool: Default

#---------------------- FRONTEND BUILD ----------------------
stages:
- stage: Build
  displayName: "Build Frontend"
  jobs:
  - job: Build_Frontend
    steps:
    - task: NodeTool@0
      displayName: "Install Node v18"
      inputs:
        versionSource: 'spec'
        versionSpec: '18.x'
    - script: |
        cd ReactTodoUIMonolith
        npm install
        npm run build
      displayName: "Build React App"
    - task: PublishBuildArtifacts@1
      displayName: "Publish Frontend Artifact"
      inputs:
        PathtoPublish: 'ReactTodoUIMonolith/build'
        ArtifactName: 'frontend_build'
        publishLocation: 'Container'
#---------------------- FRONTEND DEPLOY ----------------------
- stage: Deploy
  displayName: "Deploy Frontend"
  dependsOn: Build
  jobs:
  - job: Deploy_Frontend
    steps:
    - task: DownloadBuildArtifacts@1
      displayName: "Download Frontend Artifact"
      inputs:
        buildType: 'current'
        downloadType: 'single'
        artifactName: 'frontend_build'
        downloadPath: '$(Pipeline.Workspace)/frontend'
    - task: CopyFilesOverSSH@0
      displayName: "Copy React Build to Frontend VM"
      inputs:
        sshEndpoint: 'frontend-ssh'
        sourceFolder: '$(Pipeline.Workspace)/frontend/frontend_build'
        contents: '**'
        targetFolder: '/var/www/html'
        overwrite: true
    - task: SSH@0
      displayName: "Restart Nginx"
      inputs:
        sshEndpoint: 'frontend-ssh'
        runOptions: 'inline'
        inline: |
          sudo systemctl restart nginx
        readyTimeout: '20000'
