trigger: none
pool: Default
steps:
- task: NodeTool@0
  displayName: To install Nodejs
  inputs:
    versionSource: 'spec'
    versionSpec: '18.x'
- task: PowerShell@2
  displayName:  NPM install
  inputs:
    targetType: 'inline'
    script: 'npm install'
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: ArchiveFiles@2
  displayName: 
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/Build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/Build.zip'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)'
    artifact: 'to-do'
    publishLocation: 'pipeline'