trigger: none
pool: Default


steps:

- task: NodeTool@0
  displayName: To install Nodejs
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  displayName:  NPM install
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(System.DefaultWorkingDirectory)/build'
    artifact: 'to-do'
    publishLocation: 'pipeline'
- task: DownloadPipelineArtifact@2
  inputs:
    buildType: 'current'
    artifactName: 'to-do'
    targetPath: '$(Build.ArtifactStagingDirectory)'



